.workspace-button {
  border: 1px solid var(--border);
  border-radius: 4px;
  line-height: 1;
}

.workspace-button button {
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
}

.workspace-button button:hover {
  background-color: var(--muted);
}
